.circle-switch {
	background: transparent;
	display: flex;
	flex-direction: column;
	gap: 16px;

	margin-left: 20px;
	padding-left: clamp(5px, 5vh, 78px);

	span {
		background: transparent;
		font-weight: 400;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0%;
	}

	.circle-switch-buttons {
		background: transparent;
		display: flex;
		gap: 16px;
	}
}
