.circle-switch {
	background: transparent;
	display: flex;
	flex-direction: column;
	gap: 16px;


	span {
		background: transparent;
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
	}

	.circle-switch-buttons {
		background: transparent;
		display: flex;
		gap: 16px;
	}
}

@media (max-width: $mobile){
	.circle-switch{
		gap: 10px;

		span{
			font-size: 14px;
		}

		.circle-switch-buttons{
			gap: 10px;
		}
	}
}
