@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-main;
	background-color: $background-color;
}

button{
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	line-height: 1;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-moz-appearance: none;
	appearance: none;

}

button svg {
	pointer-events: none;
}

button:active{
	background: transparent;
}
